<!DOCTYPE html>
<link href="@Url.Content("//expertsunlimited.co.za/Style_Sheet/CV.css")" rel="stylesheet" type="text/css" />
<script src="~/Style_Sheet/MenuBar.js"></script>
@RenderSection("Styles", false)
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CV</title>
</head>


<body>
    <nav id="navbar">
        <ul>
            <li>
                @Html.ActionLink("Home", "", "Home")
            </li>
            <li>
                @Html.ActionLink("Expert Witness Topics", "", "ExpertWitnessTopics")
            </li>
            <li>
                @Html.ActionLink("Principles", "", "Principles")
            </li>
            <li>
                @Html.ActionLink("CV", "", "CV")
            </li>
            <li>
                @Html.ActionLink("Contact", "", "Contact")
            </li>

        </ul>
    </nav>


    <section id="section-light">
        <h1>Overview as an Expert</h1>
        <p>
            Andy has worked in the minerals, O&G and finance industry for over 40 years and has been involved in
            preparing technical and economic reports and valuations for numerous projects, in most commodities and
            globally.
            <br />
            Andy studied at the University of Cardiff where he obtained an Honours degree in geology. He continued
            his studies at the University of Witwatersrand completing a Masters in Economic Geology.  He obtained
            a Graduate Degree of Engineering at the University of Witwatersrand before completing a Masters in
            Mining Engineering.  He also has a Diploma in Business Management from Damelin and a Diploma in
            Tax Management and Planning from the University of the Witwatersrand.
        </p>
    </section>
    <section id="section-dark">
        <h1>Heritage</h1>
        <p>
            During his working career he has operated in the field and in underground operations and from research,
            and mineral resource management to commercial due diligence and evaluation of a wide range of local and
            international mineral assets. In addition he has more than 30 years of experience working with commercial
            banks and financial institutions on transactions in the minerals industry, and has been involved in the
            preparation of numerous reporting codes and rules for compliance and reporting in the public domain.
            <br />
            Andy’s key areas of expertise lie in the detailed financial valuation of mineral and mining projects
            using discounted cash flow models and comparative valuation techniques. In this regard he has undertaken
            numerous valuations for most mineral and oil and gas commodities over the last thirty years.
            These valuations have been used in listing and merger documentation both in local and international
            stock exchanges and for the private use of the companies concerned.
            <br />
            Andy started Venmyn Rand with a business partner at the age of 33 and has essentially run his own
            businesses for 30 years. This experience in management includes corporate strategy and planning,
            sales and marketing and dealing with stakeholders, employees and Directors interests.
            <br />
            Andy continues to seek innovative solutions to many mineral asset problems.
            This includes making water a defined mineral resource and reassessment of historical
            project data. Mr Clay currently has a special interest in incorporating oil and gas
            reporting procedures into the general application of mineral asset valuation.
        </p>
    </section>
    <section id="section-light2">
        <h1>Expert Witness Work</h1>
        <p>
            In carrying out any assignment the role and function of primarily assisting the Court without
            bias is an overriding objective of the process that I embark upon. Therefore, an engagement normally
            follows a number of systematic steps: -
        </p>
        <ul>
            <li>
                Engagement briefing as to what the court case and litigation involves in full to put into
                context areas where expertise can be applied and argued to the extent that it is supportive of specific
                facts or arguments;
            </li>
            <li>
                An exchange of information relating directly or indirectly to the merits of the case so that it’s
                helpfulness or otherwise and be established;
            </li>
            <li>
                Detailed assessment of  the legal strategy to identify expert areas that can be compelling especially
                if it is intended to support a valuation as part of a claim; and
            </li>
            <li>
                Preparation for the statement of an affidavit to be filed.
            </li>
        </ul>
        <p>
            With respect to the commitment to an affidavit it is often necessary to write a technical and
            valuation report to present the facts for argument in court and to serve as support documentation
            for the affidavit. It is in this process that whilst the objective is to be helpful to the court it
            may expose areas of argument that may not be helpful to the party that engages.
            <br />
            As far as possible I like to create infographics to assist the court to visualise technical matters.
        </p>
    </section>
    <section id="section-dark2">
        <h1>Professional Codes and Committees</h1>
        <p>
            Andy has been involved in regulatory code writing for almost his entire career. He has a deep
            knowledge of the history behind the codes and how they have developed. These include but is not
            restricted to the following: -
        </p>
        <ul>
            <li>The JSE Listing Requirements with a specific focus on Section 12;</li>
            <li>The Hong Kong Listing Requirements with a specific focus on Chapter 18;</li>
            <li>The SAMREC Code as the South African version of a CRIRSCO Code;</li>
            <li>The SAMVAL Code and valuation reporting;</li>
            <li>The IMVAL Code as the international overarching reporting standard for mineral asset valuation;</li>
            <li>The NI43-101 reporting standard for minerals in Canada;</li>
            <li>The Petroleum Resources Management System or PRMS for oil and gas;</li>
            <li>The Investment Analysts Society and representing analysts in the context of discipline and registration;</li>
            <li>The NI51-101 and the oil and gas reporting in Canada and North America;</li>
            <li>Responses to the Industry Guide 7 for the New York Stock Exchange;</li>
            <li>Communication with the Australian Securities Commission with respect to recognition of the VALMIN Code; and</li>
            <li>Geoethics for the Global Geoscience forum.</li>
        </ul>
    </section>
    <section id="section-light3">
        <h1>Special Interests</h1>
        <p>
            Andy has a wide network of professional contacts in most countries and in most minerals.
            As a leader his special interests include new areas of development in the sciences and financial
            valuation in all instruments. At the moment water and energy are key topics of development and radical
            transformation.
            <br />
            Andy is involved in Expert Witness work and has adopted the Australasian Expert Witness standards as a
            basis to fulfil
            his role.
        </p>

    </section>
    <section id="section-dark3">
        <h1>Memberships</h1>
        <p>
            Andy has been a member of many organisations but in recent years has reduced this to include: -
        </p>
        <ul>
            <li>
                Natural Scientists Act professional geologist (Statutory Registration in South Africa)
            </li>
            <li>
                Fellow of the Geological Society of South Africa
            </li>
            <li>
                Member of the South African Institute on Mining and Metallurgy
            </li>
            <li>
                Fellow of the Australasian Institute of Mining and Metallurgy
            </li>
            <li>
                Member of the American Association of Petroleum Geologists
            </li>
        </ul>
    </section>
    <section id="section-light4">
    <h1>Professional Experience</h1>
    <p>
        For a full list of assignments and previous work please request this directly as it is very extensive and 
        needs to be assignment specific to be meaningful.
    </p>
    </section>

        <p class="footer">
            <span>
                @Html.ActionLink("Home", "", "Home")
            </span>
            <span>
                @Html.ActionLink("Expert Witness Topics", "", "ExpertWitnessTopics")
            </span>
            <span>
                @Html.ActionLink("Principles", "", "Principles")
            </span>
            <span>
                @Html.ActionLink("CV", "", "CV")
            </span>
            <span>
                @Html.ActionLink("Contact", "", "Contact")
            </span>

        </p>

        <div>
            @RenderBody()
        </div>
</body>
</html>
